body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.contact-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: -6%;
    display: inline;
    justify-content: center;
    display: grid;
    place-items: center;
}
.contact-list {
    display: inline-block;
    display: flex;
    flex-direction: row;
    object-fit: fill;
    column-gap: 4%;
    justify-content: center;
}
.contact-list p {
    display: inline-block;
}
.facebook-icon {
    object-fit:contain;
}
#gmail-icon {
    width: 25px;
}
.header {
    margin-bottom: 40px;
}
.footer-content {
    justify-content: end;
    margin-top: auto;
}