.footer-content {
    margin-top: auto;
    border: none;
    background-color: rgb(207, 207, 207);
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}
.footer-content p{
    text-align: center;
    color: rgb(27, 27, 27);
}
